* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Montserrat;
}

body {
  background-image: url(https://media.gcflearnfree.org/content/5e31ca08bc7eff08e4063776_01_29_2020/ProgrammingIllustration.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

.container h2 {
  font-weight: 700;
  font-size: 30px;
  color: rgb(36, 67, 188);
}

.container .wishInput {
  border: none;
  border-radius: 4px;
  padding: 15px;
  outline: none;
  background-color: burlywood;
  width: 300px;
  margin-bottom: 204px;
}
.container .wishInput::placeholder {
  color: rgba(53, 32, 245, 0.763);
  padding-left: 30px;
  font-weight: 500;
  opacity: 0.8;
}
.container .wishButton {
  padding: 5px 20px;
  border: none;
  outline: none;
  background-color: rgb(102, 102, 244);
  font-size: 14px;
  font-weight: 600;
  border-radius: 5px;
  color: rgb(255, 255, 255);
  cursor: pointer;
  transition: 0.3s;
}
.container .wishButton:hover {
  background-color: rgb(255, 148, 8);
  color: rgb(64, 52, 52);
}
.container .wishes {
  position: absolute;
  width: 250px;
  height: 158px;
  top: 99px;
  border-radius: 2px;
  padding: 10px;
  background-color: rgb(255, 255, 255);
  color: blueviolet;
  font-weight: 500;
}
.container .wishes .xary {
  color: rgb(255, 148, 8);
  background-color: rgb(255, 255, 255);
  border: none;
  outline: none;
  padding: 1px;
  cursor: pointer;
}
